@charset "utf-8";
/* 代码整理：懒人之家 lanrenzhijia.com */
* {
	margin:0;
	padding:0;
	list-style-type:none;
}
a, img {
	border:0;
	text-decoration:none;
}
body {
	font:12px/180% Arial, Helvetica, sans-serif, "新宋体";
	background:#DCDCDC;
}
/* lanrenzhijia_nav */
.box {
	position:fixed;
	top:0;
	right:0;
	z-index:9999;
	width:140px;
	cursor:pointer;
	margin:100px 0 0 0;
}
*html, *html body /* 修正IE6振动bug */ {
	background-image:url(about:blank);
	background-attachment:fixed;
}
*html .box {
	position:absolute;
top:expression(eval(document.documentElement.scrollTop));
}
.box a {
	display:block;
	position:relative;
	height:30px;
	line-height:30px;
	margin-bottom:2px;
	background:#fff;
	padding-right:10px;
	width:130px;
	overflow:hidden;
	color:#333;
	cursor:pointer;
	right:-110px;
}
.box a:hover {
	text-decoration:none;
	color:#1974A1;
}
.box a:hover span {
	background:#5FA429
}
.box a span {
	display:block;
	float:left;
	width:30px;
	background:#636871;
	color:#fff;
	font-size:16px;
	text-align:center;
	margin-right:10px;
	font-style:normal;
}
