/*重置样式*/

body, div, p, ul, ol, dl, dt, dd, li, form, input, table, th, td, img, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    font-size: 12px;
    font-style: normal;
    color: #000;
    font-family: 'Microsoft Yahei', '微软雅黑', 'Simsun', '宋体', 'Arial', sans-serif;
    background: #fff;
}

p{line-height: 1.6}
h1,h2,h3{line-height: 2}
em, b, i {
    font-style: normal;
}

li {
    list-style: none;
}

img {
    border: none;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: none;
    color: #45B6F7;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}


/*公共属性*/

.hide {
    display: none;
}
.show{display: block;}

.flt {
    float: left;
}

.frt {
    float: right;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

.container{width: 1200px;margin-left: auto;margin-right: auto;}
/*header*/
.header{height: 104px;}
.logo{font-size: 30px;color: #e64e23;text-transform: uppercase;line-height: 104px;}
.search-form{margin-top: 38px;position: relative;margin-right: 66px;}
.search-input{border-radius: 15px;width: 350px;height: 28px;padding-left: 12px;outline: none;border: 1px solid #ccc;}
.search-form i{position: absolute;right: 16px;top: 6px;font-size: 20px;color: #bcbcbc}
.shopping{width: 152px;height: 42px;background: #ff6537;margin-top: 30px;border-radius: 5px;position: relative;}
.shopping span{font-size: 14px;color: #fff;line-height: 42px;padding-left: 58px;}
.shopping .icon-ai66{font-size: 34px;color: #fff;position: absolute;left: 14px;top: 4px;}

/*focus-module*/
.focus-module{background: #2b2b2b;}
.module-header{height: 50px;}
.module-header>li{float: left;}
.module-header>li a{display: inline-block;padding: 15px 45px 14px 43px;color: #fffaf5;font-size: 16px;}
.module-fold{position: relative}
.module-fold .dropdown{position: absolute;left: 0;top: 0;z-index: 2;background: #ff6537;color: #fffaf5;}
.dropdown-menu{margin-top: -15px;color: #fff;padding: 15px 45px 0 43px;font-size: 16px;width: 206px}
.dropdown li{border-top: 1px solid #ff845f;width: 294px;margin-left: -43px;}
.dropdown li>a{line-height: 50px;color: #fff;display: inline-block;padding-left: 40px;padding-right: 190px;}
.dropdown li.subnav a{padding-left: 30px;padding-right: 90px;}
.dropdown li.subnav .icon-list{padding-left: 53px;font-size: 20px}
.dropdown li:hover{background: #e64e23;}
.dropdown li:hover .service{display: block;}

/*service*/
.service{position: absolute;left: 294px;top: 50px;width: 560px;height: 410px;display: none;}
.service .item{height: 121px;background: #f5f5f5; padding-left: 15px;padding-top: 15px;}
.service .item-content{margin-top: 5px;}
.service .item dt{color: #333;font-weight: bold;}
.service .item-content a{float: left;margin-right: 8px;margin-top: 5px;color: #666}


/*focusbox*/
.focusbox{position: relative;height: 500px;overflow: hidden;width: 100%;}
.banner-div{width: 400%}
.banner-div a{float: left;}

.banner{display: inline-block;position: relative;height: 500px;}
.banner .caption{position: absolute;left:45%;top: 150px;text-align: center;}
.banner .title{font-size: 34px;padding: 10px; color: #fff;letter-spacing:15px;}
.banner .en-title{font-size: 20px;color: #fefbf0;}
.focusbox ul{position: absolute;left: 0;right: 0;bottom: 5px;text-align: center;}
.focusbox ul li{width: 12px;height: 12px;border-radius: 50%;background:#fff;display: inline-block;margin: 0 2px;}
.focusbox ul .on{background: red}


/*shoes*/
.shoes{margin-top: 20px;margin-bottom: 70px;}
.shoes a{float: left;margin-right: 16px;height: 206px;}
.shoes a:last-child{margin-right: 0}
.shoes .shoes-div{position: relative;height: 206px;}
.shoes .cover-box{position: absolute;left: 0;right: 0;top: 0;bottom: 0;}
.shoes .cover-line{position: absolute;left: 55px;top: 42px;border: 1px solid #f3f3f4;width: 188px;height: 118px;}
.shoes .cover-bg{position: absolute;left: 66px;top: 54px;background:rgba(255,255,255,.6);width: 170px;height: 100px;}
.shoes .cover-main{position: absolute;left: 96px;top: 60px;}
.shoes h1{font-size: 28px;color: #020710;}
.shoes p{font-size: 16px;color: #020710;text-align: center;}
.shoes .hover-show{position: absolute;left: 55px;top: 42px;width: 188px;height: 118px;display: none;}
.shoes .hover-show h1{font-size: 22px;text-transform: uppercase;color: #fff;text-align: center;}
.shoes .hover-show .hover-line{width:150px;height: 3px;background: #c9c9ca;margin:14px 18px;}
.shoes .hover-show p{font-size: 22px;color:#fff;}

.shoes a:first-child .cover-line{position: absolute;left: 24px;top: 42px;}
.shoes a:first-child .cover-bg{position: absolute;left: 34px;top: 52px;background:rgba(255,255,255,.6);width: 170px;height: 100px;}
.shoes a:first-child .cover-main{position: absolute;left: 66px;top: 60px;}
.shoes a:first-child .hover-show{position: absolute;left: 24px;top: 42px;}

/*main*/
.new-products .products-header{height: 52px;width: 282px;margin: 0 auto;text-align: center;background: #333;line-height: 52px;font-size: 22px;color: #fff;}
.new-products .content{height: 631px;border-top: 3px solid #333;}
.new-products .content .plate{float: left;width:292px;height: 510px;margin-top: 60px;}
.new-products .content .plate:last-child{margin-right: 0}
.new-products .content .newProducts img:hover{transform: translate(0,-20px);}



.text{text-align: center;font-size: 16px;}
.text p:first-child{color: #666}
.text .buy{width: 88px;height: 30px;background: #ff6637;margin-left: auto;margin-right: auto;line-height: 30px;border-radius: 4px;color: #ffeeeb;}
.new-products:first-child .plate{margin-right: 10px;}

.plate-line{margin-left: 16px;}
.plate-line .img1{border-top: 1px solid #dcdbdb;width: 294px;height: 254px;}
.plate-line .img1 img{width: 100%;height: 100%}
.plate-line .img2{border-top: 1px solid #dcdbdb;border-bottom:1px solid #dcdbdb;width: 294px;height: 254px;}
.plate-line1 .img1{border:1px solid #dcdbdb;width: 284px;height: 254px;}
.plate-line1 .img1 img{width: 100%;height: 100%}
.plate-line1 .img2{border-right:1px solid #dcdbdb;border-bottom:1px solid #dcdbdb;border-left:1px solid #dcdbdb;width: 284px;height: 254px;}
.plate-line1 .img2 img{width: 100%;height: 100%}

table{
    border-collapse:collapse;
    font-size: 16px;
    margin-top: -3px;
}
td{
    border: 1px inset #dcdbdb;
    text-align: center;
}
.jxleft{width: 282px;height: 212px;}
/* .jxleft li{float: left;font-size: 16px;text-align: center;line-height: 70px;}
.jxleft li:nth-child(2n){width: 140px;height: 70px;border: 1px solid #dcdbdb;border-top: 0px;}
.jxleft li:nth-child(2n+1){border-left: 1px solid #dcdbdb;width: 139px;height: 70px;border-bottom: 1px solid #dcdbdb;} */


/*footer*/
footer{height: 292px;background:#f5f5f5;}
.footer-content{height: 292px;}
.footer-content dl{float: left;width: 170px;margin-right: 66px;}
.footer-content dl:first-child{padding-left: 104px;}
.footer-content dl:nth-child(4){margin-right: 0}
.footer-content dl:last-child{width: 98px;}
.footer-content dl:last-child dt{color: #464c5c}
.footer-content dl:last-child dd{width: 98px;height: 94px;margin-top: 14px;}
.footer-content dl:last-child dd img{width: 100%;height: 100%}
.footer-content dt{font-size: 18px;}
.footer-content dd{line-height: 18px;color: #767474;margin-top: 10px;}
.footer-text{padding-top: 86px;}